.o-content {
	
	&__inner {
		padding: $spacing * 2;
		padding-top: calc(#{$header-height-s} + #{$spacing});
		
		@include media($medium) {
			padding: $spacing * 4;
		}
		
		@include media($large-up) {
			padding: $spacing * 6;
			padding-top: $header-height-s * 2;
		}
		
		&.m--mint {
			background-color: $blue;
		}
		
		&.m--rose {
			background-color: $rose;
		}
	}
	
	
	&__title {
		@include type-setting(0);
		margin-bottom: $spacing * 2;
		
		@include media($medium) {
			@include type-setting(1);
			margin-bottom: $spacing * 4;
		}
		
		@include media($large-up) {
			@include outer-container();
			@include type-setting(2);
			margin-bottom: $spacing * 6;
		}
		
		.m--rose & {
			color: white;
		}
	}
	
	&__copy {
		
		@include media($large-up) {
			@include outer-container(800px);
		}
		
		.m--rose & {
			color: $bright;
		}
	}
	
	p {
		margin-bottom: $spacing;
		
		@include media($medium-up) {
			margin-bottom: $spacing * 2;
		}
	}
}