@mixin background-light() {
	background-image: radial-gradient(ellipse at 7% 90%, #FFFFFF 0%, #F8FAFB 86%);
}

@mixin background-dark() {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: radial-gradient(ellipse at 63% 91%, rgba(17,170,255,0.2) 20%, rgba(0,0,0,.8) 93%);
}

@mixin background-superdark() {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: radial-gradient(ellipse at 63% 91%, rgba(36, 59, 72, 0.6) 20%, rgba(0, 0, 0, 0.8) 93%)
	
}
