.a-link {
	text-decoration: none;
	color: white;
	
	transition: color .25s ease-in-out;
	
	&:hover {
		color: $rose;
	}
	
	&--copy {
		color: $dark;
		border-bottom: 1px solid $dark;
		
		&:hover {
			color: $rose;
			border-color: $rose;
		}
	}
}